<h1><%= @track.name %></h1>
<br>
<a href="<%= album_url(@track.album_id) %>">Album</a>
<br>
<br>
<table>
</table>

<a href="<%= bands_url %>">All Bands</a>
<br>

<%= render partial: 'notes/form', locals: {track: @track} %>
<% @track.notes.each do |note| %>
  <%= render partial: 'notes/note', locals: {track: @track, note: note} %>
<% end %>
