<h1><%= @album.title %></h1>
<br>
<a href="<%= band_url(@album.band_id) %>">Band</a>
<br>
<br>
<table>
  <% @album.tracks.each do |track| %>
  <tr>
    <td><%= track.name %></td>
    <td> <a href="<%= track_url(track.id) %>">View Track</a> </td>
  </tr>
  <% end %>
</table>

<br>
<form action="<%= new_track_url %>" method="get">
  <input type="hidden" name="album_id" value="<%= @album.id %>">
  <button>Add Track</button>
</form>
<a href="<%= bands_url %>">All Bands</a>
